/**
 * Helpers classes to use globally
 */

/* Hide element */
.h-hidden {
  display: none !important;

  visibility: hidden;
}

/* Visually hidden element but readable by screen readers and robots */
.h-sr-only {
  overflow: hidden;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;

  border: 0;
  clip: rect(0, 0, 0, 0);
}

/* Horizontally centered wrapper */
.h-wrapper {
  @include wrapper;
}

/* Fill viewport height */
.h-fullheight {
  height: 100vh;
}

/* Fill viewport height with a safe height */
.h-fullheight-hero {
  height: calc( 100vh - 128px);
  min-height: 880px;
  max-height: 1080px;

  @include desktop-md {
    height: calc( 100vh - 83px);
    min-height: 568px;
    max-height: 768px;
  }

  @include tablet {
    height: calc( 100vh - 80px);
    min-height: 700px;
    max-height: none;
  }

  @include phone {
    height: calc( 100vh - 160px);
    // max-height: 500px;
  }
}
