/**
 * Mixins.
 */

 /* Helpers */
@mixin wrapper($fz: 1) {
  margin: 0 auto;
  width: calc(100% - (12em * (1 /#{$fz})));
  max-width: calc((96em * (1 /#{$fz})) - (12em * (1 /#{$fz})));

  @include tablet-sm {
    width: calc(100% - (8em * (1 /#{$fz})));
    max-width: calc((96em * (1 /#{$fz})) - (8em * (1 /#{$fz})));
  }
}

/* Texts */
@mixin title {
  font: 400 2em/1 $muli;
  letter-spacing: -0.05em;
}

@mixin title-xxl {
  @include title;

  font-size: 6em;
}

@mixin title-xl {
  @include title;

  font-size: 4em;
}

@mixin title-lg {
  @include title;

  font-size: 3em;
}

@mixin title-md {
  @include title;

  font-size: 2em;
}

@mixin list-bullet {
  margin: 1.5em 0;
  padding: 0;

  list-style-type: none;

  text-align: left;

  li {
    padding: 0 0 0 1em;
    position: relative;

    &:before {
      display: block;
      position: absolute;
      top: 0.65em;
      left: 0;
      width: 0.4em;
      height: 0.4em;

      background: $text-color;
      border-radius: 50%;
      content: '';
    }

    & + li {
      margin-top: 1em;
    }
  }
}

@mixin list-number {
  margin: 1.5em 0;
  padding: 0;

  counter-reset: list;
  list-style-type: none;

  text-align: left;

  li {
    padding: 0 0 0 2em;
    position: relative;

    counter-increment: list;

    &:before {
      position: absolute;
      top: 0;
      left: 0;

      content: counter(list, decimal-leading-zero) '.';
      z-index: 2;

      color: $text-color;
      font-weight: 600;
      letter-spacing: -0.04em;
    }

    & + li {
      margin-top: 1em;
    }
  }
}
