/**
 * Clickable things, either buttons or text link
 *
 * Identifier:
 *  .btn-
 *
 * Syntax:
 *  .btn-[name]
 *    .btn-[name]__[element]
 */

  .btn-outline {
    display: inline-block;
    padding: 0.5em 0.75em;

    border: 0.2em solid $border-color;

    color: $text-color;
    font-size: 0.725em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }