/**
 * Global selectors and body/html rules.
 */

::selection {
  background: $primary-color;

  color: white;
  text-shadow: none;
}

* {
  outline: none;
  box-sizing: border-box;
}

html, body {
  position: relative;
  width: 100%;
}

html {
  background: #15142E;

  &:before {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: transparent;
    content: '';
    pointer-events: none;
    z-index: 9999;
  }

  &.is-scrolling {
    &:before {
      pointer-events: auto;
    }
  }
}

body {
  overflow-x: hidden;
  overflow-y: scroll;

  color: $text-color;
  font: 300 1.25em/1.67 $muli;

  @include desktop-md {
    font-size: 1em;
  }

  @include phone {
    font-size: 0.88em;
  }
}

// .body-style {
//   &-1 {
//     background: $primary-color;
//   }

//   &-2 {
//     background: $fourth-color;
//   }
// }
