/* Preloader */
[data-lg-preloader] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: white;
  opacity: 1;
  z-index: 999;

  &.is-hidden {
    opacity: 0;
  }
}

/* Lottie */
[data-lg-preloader="lottie"] {
  background: none;
}

/* Fade */
[data-lg-preloader="fade"] {
  transition: opacity 0.3s linear;
}

/* Slide */
[data-lg-preloader^="slide"] {
  transition: transform 0.5s ease(in-out-cubic);

  &.is-hidden {
    opacity: 1;
  }
}

[data-lg-preloader="slide-right"] {
  &.is-hidden {
    transform: translate3d(100%, 0, 0);
  }
}

[data-lg-preloader="slide-left"] {
  &.is-hidden {
    transform: translate3d(-100%, 0, 0);
  }
}

[data-lg-preloader="slide-top"] {
  &.is-hidden {
    transform: translate3d(0, -100%, 0);
  }
}

[data-lg-preloader="slide-bottom"] {
  &.is-hidden {
    transform: translate3d(0, 100%, 0);
  }
}