@mixin reveal {
  &:not([data-lg-reveal-stagger]),
  & [data-lg-reveal-child] {
    @content;
  }
}

/* Reveal */
[data-lg-reveal] {
  @include reveal {
    opacity: 0;

    &[data-lg-reveal-state~="is-in"] {
      opacity: 1;
    }
  }
}

/* Fade */
[data-lg-reveal="fade"] {
  @include reveal {
    transition: opacity 0.3s linear;
  }
}

[data-lg-reveal^="fade"] {
  @include reveal {
    transition: opacity 0.4s linear 0.2s, transform 0.6s ease(in-cubic) 0s;

    &[data-lg-reveal-state~="is-in"] {
      transform: translate3d(0, 0, 0) rotate(0) scale(1);
      transition: opacity 0.4s linear 0s, transform 0.6s ease(out-cubic) 0s;
    }
  }
}

[data-lg-reveal="fade-top"] {
  @include reveal {
    transform: translate3d(0, -10%, 0);
  }
}

[data-lg-reveal="fade-right"] {
  @include reveal {
    transform: translate3d(10%, 0, 0);
  }
}

[data-lg-reveal="fade-bottom"] {
  @include reveal {
    transform: translate3d(0, 10%, 0);
  }
}

[data-lg-reveal="fade-left"] {
  @include reveal {
    transform: translate3d(-10%, 0, 0);
  }
}

[data-lg-reveal="fade-x"] {
  @include reveal {
    transform: translate3d(-10%, 0, 0);

    &[data-lg-reveal-state~="is-out--top"] {
      transform: translate3d(10%, 0, 0);
    }
  }
}

[data-lg-reveal="fade-y"] {
  @include reveal {
    transform: translate3d(0, 10%, 0);

    &[data-lg-reveal-state~="is-out--top"] {
      transform: translate3d(0, -10%, 0);
    }
  }
}

[data-lg-reveal="fade-rotate"] {
  @include reveal {
    transform: rotate(-20deg);
  }
}

[data-lg-reveal="fade-rotate-top"] {
  @include reveal {
    transform: translate3d(0, -30%, 0) rotate(-20deg);
  }
}

[data-lg-reveal="fade-rotate-right"] {
  @include reveal {
    transform: translate3d(30%, 0, 0) rotate(20deg);
  }
}

[data-lg-reveal="fade-rotate-bottom"] {
  @include reveal {
    transform: translate3d(0, 30%, 0) rotate(20deg);
  }
}

[data-lg-reveal="fade-rotate-left"] {
  @include reveal {
    transform: translate3d(-30%, 0, 0) rotate(-20deg);
  }
}

[data-lg-reveal="fade-rotate-x"] {
  @include reveal {
    transform: translate3d(-30%, 0, 0) rotate(-20deg);

    &[data-lg-reveal-state~="is-out--top"] {
      transform: translate3d(30%, 0, 0) rotate(20deg);
    }
  }
}

[data-lg-reveal="fade-rotate-y"] {
  @include reveal {
    transform: translate3d(0, 30%, 0) rotate(20deg);

    &[data-lg-reveal-state~="is-out--top"] {
      transform: translate3d(0, -30%, 0) rotate(-20deg);
    }
  }
}

[data-lg-reveal^="fade-scale"] {
  @include reveal {
    transform: scale(0.8);
  }
}

[data-lg-reveal="fade-scale-top"] {
  @include reveal {
    transform-origin: 50% 0;
  }
}

[data-lg-reveal="fade-scale-right"] {
  @include reveal {
    transform-origin: 100% 50%;
  }
}

[data-lg-reveal="fade-scale-bottom"] {
  @include reveal {
    transform-origin: 50% 100%;
  }
}

[data-lg-reveal="fade-scale-left"] {
  @include reveal {
    transform-origin: 0 50%;
  }
}

[data-lg-reveal="fade-scale-x"] {
  @include reveal {
    transform-origin: 0 50%;

    &[data-lg-reveal-state~="is-out--top"] {
      transform-origin: 100% 50%;
    }
  }
}

[data-lg-reveal="fade-scale-y"] {
  @include reveal {
    transform-origin: 50% 100%;

    &[data-lg-reveal-state~="is-out--top"] {
      transform-origin: 50% 0;
    }
  }
}

/* Scale */
[data-lg-reveal^="scale"] {
  @include reveal {
    opacity: 1;
    transition: transform 0.6s ease(in-cubic) 0s;
    transform: scale(0);
    transform-origin: 50% 50%;

    &[data-lg-reveal-state~="is-in"] {
      transform: scale(1);
      transition: transform 0.6s ease(out-cubic) 0s;
    }
  }
}

[data-lg-reveal="scale-top"] {
  @include reveal {
    transform-origin: 50% 0;
  }
}

[data-lg-reveal="scale-right"] {
  @include reveal {
    transform-origin: 100% 50%;
  }
}

[data-lg-reveal="scale-bottom"] {
  @include reveal {
    transform-origin: 50% 100%;
  }
}

[data-lg-reveal="scale-left"] {
  @include reveal {
    transform-origin: 0 50%;
  }
}

[data-lg-reveal="scale-x"] {
  @include reveal {
    transform-origin: 0 50%;

    &[data-lg-reveal-state~="is-out--top"] {
      transform-origin: 100% 50%;
    }
  }
}

[data-lg-reveal="scale-y"] {
  @include reveal {
    transform-origin: 50% 100%;

    &[data-lg-reveal-state~="is-out--top"] {
      transform-origin: 50% 0;
    }
  }
}

/* Slide */
[data-lg-reveal^="slide"] {
  @include reveal {
    opacity: 1;
    transition: transform 0.6s ease(in-out-cubic) 0s;

    &[data-lg-reveal-state~="is-in"] {
      transform: translate3d(0, 0, 0);
    }
  }
}

[data-lg-reveal="slide-top"] {
  @include reveal {
    transform: translate3d(0, -15%, 0);
  }
}

[data-lg-reveal="slide-right"] {
  @include reveal {
    transform: translate3d(15%, 0, 0);
  }
}

[data-lg-reveal="slide-bottom"] {
  @include reveal {
    transform: translate3d(0, 15%, 0);
  }
}

[data-lg-reveal="slide"],
[data-lg-reveal="slide-left"] {
  @include reveal {
    transform: translate3d(-15%, 0, 0);
  }
}

[data-lg-reveal="slide-x"] {
  @include reveal {
    transform: translate3d(-15%, 0, 0);

    &[data-lg-reveal-state~="is-out--top"] {
      transform: translate3d(15%, 0, 0);
    }
  }
}
[data-lg-reveal="slide-y"] {
  @include reveal {
    transform: translate3d(0, 15%, 0);

    &[data-lg-reveal-state~="is-out--top"] {
      transform: translate3d(0, -15%, 0);
    }
  }
}
