/* Reveal */
[data-lg-reveal] {
  opacity: 0;
  will-change: opacity, transform;

  &.is-in {
    opacity: 1;
  }
}
[data-lg-reveal-stagger] {
  opacity: 1;
}

/* Fade */
.lg-reveal--fade-top,
.lg-reveal--fade-right,
.lg-reveal--fade-bottom,
.lg-reveal--fade-left,
.lg-reveal--fade-x,
.lg-reveal--fade-y,
.lg-reveal--fade-rotate,
.lg-reveal--fade-rotate-top,
.lg-reveal--fade-rotate-right,
.lg-reveal--fade-rotate-bottom,
.lg-reveal--fade-rotate-left,
.lg-reveal--fade-rotate-x,
.lg-reveal--fade-rotate-y,
.lg-reveal--fade-scale,
.lg-reveal--fade-scale-top,
.lg-reveal--fade-scale-right,
.lg-reveal--fade-scale-bottom,
.lg-reveal--fade-scale-left,
.lg-reveal--fade-scale-x,
.lg-reveal--fade-scale-y {
  transition: opacity 0.4s linear 0.2s, transform 0.6s ease(in-cubic) 0s;

  &.is-in {
    transform: translate3d(0, 0, 0) rotate(0) scale(1);
    transition: opacity 0.4s linear 0s, transform 0.6s ease(out-cubic) 0s;
  }
}

.lg-reveal--fade {
  transition: opacity 0.3s linear;
}

.lg-reveal--fade-top {
  transform: translate3d(0, -10%, 0);
}

.lg-reveal--fade-right {
  transform: translate3d(10%, 0, 0);
}

.lg-reveal--fade-bottom {
  transform: translate3d(0, 10%, 0);
}

.lg-reveal--fade-left {
  transform: translate3d(-10%, 0, 0);
}

.lg-reveal--fade-x {
  transform: translate3d(-10%, 0, 0);

  &.is-out-top {
    transform: translate3d(10%, 0, 0);
  }
}

.lg-reveal--fade-y {
  transform: translate3d(0, 10%, 0);

  &.is-out-top {
    transform: translate3d(0, -10%, 0);
  }
}

.lg-reveal--fade-rotate {
  transform: rotate(-20deg);
}

.lg-reveal--fade-rotate-top {
  transform: translate3d(0, -30%, 0) rotate(-20deg);
}

.lg-reveal--fade-rotate-right {
  transform: translate3d(30%, 0, 0) rotate(20deg);
}

.lg-reveal--fade-rotate-bottom {
  transform: translate3d(0, 30%, 0) rotate(20deg);
}

.lg-reveal--fade-rotate-left {
  transform: translate3d(-30%, 0, 0) rotate(-20deg);
}

.lg-reveal--fade-rotate-x {
  transform: translate3d(-30%, 0, 0) rotate(-20deg);

  &.is-out-top {
    transform: translate3d(30%, 0, 0) rotate(20deg);
  }
}

.lg-reveal--fade-rotate-y {
  transform: translate3d(0, 30%, 0) rotate(20deg);

  &.is-out-top {
    transform: translate3d(0, -30%, 0) rotate(-20deg);
  }
}

.lg-reveal--fade-scale {
  transform: scale(0.8);
}

.lg-reveal--fade-scale-top {
  transform-origin: 50% 0;
}

.lg-reveal--fade-scale-right {
  transform-origin: 100% 50%;
}

.lg-reveal--fade-scale-bottom {
  transform-origin: 50% 100%;
}

.lg-reveal--fade-scale-left {
  transform-origin: 0 50%;
}

.lg-reveal--fade-scale-x {
  transform-origin: 0 50%;

  &.is-out-top {
    transform-origin: 100% 50%;
  }
}

.lg-reveal--fade-scale-y {
  transform-origin: 50% 100%;

  &.is-out-top {
    transform-origin: 50% 0;
  }
}

/* Scale */
.lg-reveal--scale,
.lg-reveal--scale-top,
.lg-reveal--scale-right,
.lg-reveal--scale-bottom,
.lg-reveal--scale-left,
.lg-reveal--scale-x,
.lg-reveal--scale-y {
  opacity: 1;
  transition: transform 0.6s ease(in-cubic) 0s;
  transform: scale(0);

  &.is-in {
    transform: scale(1);
    transition: transform 0.6s ease(out-cubic) 0s;
  }
}

.lg-reveal--scale-top {
  transform-origin: 50% 0;
}

.lg-reveal--scale-right {
  transform-origin: 100% 50%;
}

.lg-reveal--scale-bottom {
  transform-origin: 50% 100%;
}

.lg-reveal--scale-left {
  transform-origin: 0 50%;
}

.lg-reveal--scale-x {
  transform-origin: 0 50%;

  &.is-out-top {
    transform-origin: 100% 50%;
  }
}

.lg-reveal--scale-y {
  transform-origin: 50% 100%;

  &.is-out-top {
    transform-origin: 50% 0;
  }
}

/* Slide */
.lg-reveal--slide,
.lg-reveal--slide-top,
.lg-reveal--slide-bottom,
.lg-reveal--slide-right,
.lg-reveal--slide-left,
.lg-reveal--slide-x,
.lg-reveal--slide-y {
  opacity: 1;
  transition: transform 0.6s ease(in-out-cubic) 0s;

  &.is-in {
    transform: translate3d(0, 0, 0);
  }
}

.lg-reveal--slide-top {
  transform: translate3d(0, -15%, 0);
}

.lg-reveal--slide-right {
  transform: translate3d(15%, 0, 0);
}

.lg-reveal--slide-bottom {
  transform: translate3d(0, 15%, 0);
}

.lg-reveal--slide,
.lg-reveal--slide-left {
  transform: translate3d(-15%, 0, 0);
}

.lg-reveal--slide-x {
  transform: translate3d(-15%, 0, 0);

  &.is-out-top {
    transform: translate3d(15%, 0, 0);
  }
}
.lg-reveal--slide-y {
  transform: translate3d(0, 15%, 0);

  &.is-out-top {
    transform: translate3d(0, -15%, 0);
  }
}

/* Layer */
.lg-reveal--layer,
.lg-reveal--layer-top,
.lg-reveal--layer-right,
.lg-reveal--layer-bottom,
.lg-reveal--layer-left {
  position: relative;

  opacity: 1;
  transition: transform 0.8s ease(out-cubic) 0s, clip-path 0.4s ease(in-cubic) 0s;

  &:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: white;
    content: '';
    transition: transform 0.4s ease(out-cubic) 0.4s;
    z-index: 999;
  }

  &.is-in {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: translate3d(0, 0, 0);
  }
}

.lg-reveal--layer-top,
.lg-reveal--layer-bottom {
  &.is-in {
    &:after {
      transform: scaleY(0);
    }
  }
}

.lg-reveal--layer-top {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translate3d(0, 10%, 0);

  &:after {
    transform-origin: 50% 0;
  }
}

.lg-reveal--layer-bottom {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transform: translate3d(0, -10%, 0);

  &:after {
    transform-origin: 50% 100%;
  }
}

.lg-reveal--layer-right,
.lg-reveal--layer-left {
  &.is-in {
    &:after {
      transform: scaleX(0);
    }
  }
}

.lg-reveal--layer-right {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transform: translate3d(-10%, 0, 0);

  &:after {
    transform-origin: 100% 50%;
  }
}

.lg-reveal--layer-left {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transform: translate3d(10%, 0, 0);

  &:after {
    transform-origin: 0 50%;
  }
}
